<h1 mat-dialog-title>Share this video</h1>
<section mat-dialog-content>
  <p>Write an email and hit the "Share" button!</p>

  <mat-form-field class="name">
    <input matInput type="text" [(ngModel)]="email" required>
  </mat-form-field>

  <button mat-stroked-button
          color="primary"
          [disabled]="!email"
          (click)="close()"
          class="upload-button">Share</button>
</section>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

