.name {
  width: 100%;
  font-size: 18px;
}
.file{
  width: 300px;
  height: 30px;
  margin: 5px 0;
  color: #3F51B5;
  border: 2px solid #3F51B5;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.label-file {
  width: 100%;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}
.upload-button {
  margin: 15px 0;
}
.input-file {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
