<h1 mat-dialog-title>Add new video</h1>
<section mat-dialog-content>
  <p>Choose file and hit the "Add" button!</p>

  <mat-form-field class="name">
    <mat-label>File name</mat-label>
    <input matInput type="text" [(ngModel)]="name" required>
  </mat-form-field>

  <div class="file">
    <input type="file" id="file" class="input-file" (change)="selectFile($event)">
    <label for="file" class="label-file">{{label}}</label>
  </div>

  <button mat-stroked-button
          color="primary"
          [disabled]="!selectedFiles"
          (click)="upload()"
          class="upload-button">Upload</button>

  <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>

</section>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
