<mat-card>
  <mat-card-header>
    <mat-card-title>{{fileData.name}}</mat-card-title>
  </mat-card-header>
  <video width="300" height="180" controls>
    <source src="{{fileData.url}}">
  </video>
  <mat-card-actions *ngIf="!isReadonly">
    <button mat-button (click)="delete()">Delete</button>
    <button mat-button (click)="openDialog()">Share</button>
  </mat-card-actions>
</mat-card>
