.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to left bottom,
  rgba(40, 53, 147, 0.7), rgba(173, 20, 87, 0.7)),
  url("../../../../../assets/background.jpg") no-repeat;
  background-size: cover;

}

.app-header{
  padding: 25px 0 15px;
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}

.signup-card {
  width: 400px;
  height: 460px;
  border-radius: 15px;
  margin: 60px 0 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title{
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  font-size: 20px;
}
.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-form-field {
  width: 350px;
  padding: 5px 0 1px;
  font-size: 18px;
}
.submit-button{
  width: 300px;
  height: 40px;
  border-radius: 25px;
  margin-top: 20px;
}
.login-hint {
  color: white;
  font-size: 16px;
}

.login-link {
  color: white;
  text-decoration: underline;
}

.login-link:hover {
  cursor: pointer;
}
