<section class="signup">
  <a class="app-header" routerLink="/">Vidstock</a>
  <mat-card class="signup-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        Join us
      </mat-card-title>
    </mat-card-header>

        <mat-card-content class="card-content">
          <form [formGroup]="signupForm" class="card-form" (ngSubmit)="signup()">

            <mat-form-field class="card-form-field">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. pat@example.com" formControlName="email" >
              <mat-error *ngIf="signupForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="card-form-field">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix type="button"
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="card-form-field">
              <mat-label>Repeat password</mat-label>
              <input matInput type="password" formControlName="repPassword">
              <mat-error *ngIf="signupForm.get('repPassword').invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" class="submit-button" type="submit">Sign Up</button>
          </form>
        </mat-card-content>
  </mat-card>

  <footer class="login-hint">
    <p>Already a member? <a class="login-link" routerLink="/login">Log in</a></p>
  </footer>
</section>
