<section class="user-profile">
  <section class="user-info">
    <div class="avatar">
      <div class="initials">
        {{(user$ | async)?.email[0] | uppercase}}
      </div>
    </div>
    <h2 class="user-name">{{(user$ | async)?.email}}</h2>
  </section>

  <section class="menu">
    <a mat-button color="primary" class="settings-button" routerLink="/collection">
      <span class="material-icons button-icon">collections</span>
      My Gallery
    </a>
    <a mat-button color="primary" class="settings-button" routerLink="/received">
      <span class="material-icons button-icon">share</span>
      Shared with me
    </a>
  </section>

  <section class="settings">
    <button mat-button color="primary" class="settings-button">
      <span class="material-icons button-icon">create</span>
      Edit profile
    </button>
    <button mat-button color="primary" class="settings-button">
      <span class="material-icons button-icon">settings</span>
      Settings
    </button>
    <button mat-button color="primary" (click)="logout()" class="settings-button">
      <span class="material-icons button-icon">sensor_door</span>
      Log Out
    </button>
  </section>
</section>
