.user-profile{
  width: 270px;
  height: 100%;
  background: linear-gradient(to left bottom,
  rgba(40, 53, 147, 0.8), rgba(173, 20, 87, 0.8)),
  url("../../../../../../assets/background1.jpg") no-repeat;
  background-size: cover;
}
.user-info{
  padding: 65px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-photo{
  width: 100px;
  height: 100px;
}
.user-name{
  padding: 15px 0;
  font-size: 22px;
  color: white;
}

.settings{
  position:absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.avatar {
  width: 80px;
  padding: 5px;
  height: 80px;
  border-radius: 50%;
  /*background: #039be5;*/
  background: rgba(197, 202, 233, 0.9);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: separate;
  border-spacing: 10px;
}

.initials{
  font-size: 48px;
  color: white;
  font-weight: 300;
}

.settings-button {
  width: 270px;
  padding-left: 40px;
  text-align: left;
  color: #E8EAF6;
}
.settings-button:hover{
  background: linear-gradient(to right, rgba(232, 234, 246, 0.4), transparent 80%);
  color:white;
  border-radius: 0;
  border-left: 3px solid #5C6BC0;
}

.button-icon {
  margin-right: 18px;
}

