.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to left bottom,
  rgba(40, 53, 147, 0.7), rgba(173, 20, 87, 0.7)),
  url("../../../../../assets/background.jpg") no-repeat;
  background-size: cover;
}

.app-information, .authorization-section {
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: white;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 48px;

}

.icon{
  width: 40px;
  height: 40px;
  padding: 18px;
  margin: 20px 0;
  background-color: white;
  border-radius: 25px;
  box-shadow: inset -2px -1px 10px grey;
}

.divider {
  margin: 15px 0 40px;
  width: 40px;
  height: 5px;
  background-color: white;
}

.button {
  width: 350px;
  height: 50px;
  border-radius: 25px;
  margin: 10px 0;
}

.submit-button {
  color: #1A237E;
  box-shadow: inset -2px -1px 5px grey;
}

.submit-button {
  color: white;
  border-color: white;
}

.or-divider {
  margin: 10px 0;
  color: white;
  font-size: 16px;
}

