<section class="onboarding">
  <section class="app-information">
    <figure>
      <img src="../../../../../assets/app-icon.png" alt="Icon" class="icon">
    </figure>

    <h1 class="header">Vidstock</h1>
    <mat-divider class="divider"></mat-divider>
  </section>
  <section class="authorization-section">
    <button mat-raised-button class="button signup-button" routerLink="/signup">Create an account</button>
    <span class="or-divider">OR</span>
    <button mat-stroked-button class="button login-button" routerLink="/login">Login</button>
  </section>
</section>
