<section class="login">
  <a class="app-header" routerLink="/">Vidstock</a>
  <mat-card class="login-card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        Log In
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      <form [formGroup]="loginForm" class="card-form" (ngSubmit)="login()">
        <mat-form-field  class="card-form-field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. pat@example.com" formControlName="email" >
          <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field  class="card-form-field">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
          <button mat-icon-button matSuffix type="button"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="accent" class="submit-button" type="submit">Log In</button>
      </form>
    </mat-card-content>
  </mat-card>

  <footer class="signup-hint">
    <p>Want to become a member? <a class="signup-link" routerLink="/signup">Join us</a>!</p>
  </footer>
</section>
