.app-header{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 0 10px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to left bottom,
  rgba(40, 53, 147, 0.7), rgba(173, 20, 87, 0.7)),
  url("../../../../../assets/background.jpg") no-repeat;
  background-size: cover;
}
.login-card {
  width: 400px;
  height: 350px;
  border-radius: 15px;
  margin: 90px 0 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-title{
  margin-top: 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  font-size: 20px;
}

.card-content {
  margin: 30px 0 30px;
}
.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-form-field {
  width: 350px;
  padding: 5px 0;
  font-size: 18px;
}
.submit-button{
  width: 300px;
  height: 40px;
  border-radius: 25px;
  margin: 10px 0;
}
.signup-hint {
  margin-top: 30px;
  padding: 25px 0 5px;
  color: white;
  font-size: 16px;
}

.signup-link {
  color: white;
  text-decoration: underline;
}

.signup-link:hover {
  cursor: pointer;
}
