<app-layout>
  <section class="received">
    <section class="video-card" *ngFor="let file of receivedFiles">
      <app-video-card [fileData]="file" [isReadonly]="true"></app-video-card>
    </section>
  </section>
</app-layout>
