<app-layout>
  <section class="collection">
      <section class="video-card" *ngFor="let file of files">
          <app-video-card [fileData]="file"></app-video-card>
      </section>
  </section>
</app-layout>

